import os
import platform
static_path = "D:\wamp64\www"
upload_path = "D:\wamp64\www\upload"
upload_img = "D:\wamp64\www\upload"
log_path = "D:\wamp64\logs"

debug = True

upload_file_type = set(["jpg","JPG","png","PGN","JPEG","jpeg","BMP","bmp"])
APP_ID = '你的 App ID'
API_KEY = '你的 API Key'
SECRET_KEY = '你的 Secret Key'

baidu_OCR = {
    "APP_ID": APP_ID,
    "API_KEY": API_KEY,
    "SECRET_KEY": SECRET_KEY,
}

SERVER_KEY = {
    "SECRET_KEY":"asdfafda234123wqe-=5=67657",
    "AUTH_SALT":"thjkfgbni8itg5tyop70o"

}

system_os = platform.system()
if system_os == "Windows":
    os_env = "win"
elif system_os == "Linux":
    os_env = "linux"

