<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ORC 22too tools 图片文字自动识别</title>
</head>
<body>
    <a href="/">回到首页</a>
    <strong><h1>图片会定时被清理，不用担心资料泄漏</h1></strong>
         <form action='upload' enctype="multipart/form-data" method='post'>
          <input type='file' name='file' /><br/>
          <input type='submit' value='提交识别图片'/>
          </form>
    遇到问题可以发邮件给我：
    <a href="mailto:it@22too.com?subject=hello%20it">发送邮件</a>
</body>
</html>