<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ORC 22too tools</title>
</head>
<body>
    <a href="/">回到首页</a>
    <strong><h1>图片会定时被清理，不用担心资料泄漏</h1></strong>
          <form action='upload' enctype="multipart/form-data" method='post'>
          <input type='file' name='file'/><br/>
          <input type='submit' value='submit'/>
          </form>
</body>
</html>