<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ORC 22too tools</title>
</head>
<body>
    <a href="/">回到首页</a>
    <strong><h1>上传图片</h1></strong>
          <form  enctype="multipart/form-data" method='post'>
          <input type='file' name='file' value="选择文件"/ id = 'file'><br/>
        <div id = "size"> 
            <input type='text' name = 'size' value="100" />修改之后的大小</br>
        </div>
          <input type='submit' value='submit'/>
          </form>
     <div id="result"></div>
</body>



</html>